*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inputBox > span{
    font-family: "Roboto";
    animation: sliding 14s linear infinite;
    display: block;
}
.Header__topbar{
  background-color:#1A0315;
}
.navbar{
  background-color:#1A0315;
  margin:0 !important;
}
.buttonnav{
-moz-box-shadow: 0 0 6px   #88D317;
-webkit-box-shadow: 0 0 6px   #88D317;
box-shadow: 0 0 30px #88D317;
margin-left:1rem;
color: #88D317;
border-radius: 0.2rem;
}
@keyframes sliding{
    0%{
      transform: translateX(-70%);
    }
    100%{
      transform: translateX(130%);
    }
  }